extends ../partials/layout.pug

block title 
    - var title = "HUBUNGI KAMI"

block content
    section.contact 
        - var i = 1;
        while (i <= 6)
            img(src=baseURL + "assets/img/blob/blob" + i + ".svg" alt="" aria-hidden="true" loading="lazy" class="blob blob-" + i)
            - i++
        .container 
            h1.section-title HUBUNGI KAMI
            ul.contact__list 
                each cf in contactFirm
                    li.contact__item= cf
            .contact__cards 
                each cp, i in contactPerson
                    .contact__card 
                        .contact__card-image 
                            img(src=baseURL + "assets/img/team/team"+ (i+1) + ".png" alt=cp.nama loading="lazy")
                        .contact__card-info 
                            ul.contact__card-list 
                                each cli in [["Nama", cp.nama ], ["WhatsApp", cp.whatsapp], ["Email", cp.email], ["Jabatan", cp.jabatan]]
                                    li.contact__card-item #{cli[0]}
                                        span.break :
                                        |  #{cli[1]}
